<!DOCTYPE HTML>
<html>
  <head>
    <title>Website</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Current date: <%= currentTime %></p>
    
    <p><%- include('includes/modalLogin')%></p>
    <p><%- include('includes/modalRegister', {passwordMismatch: passwordMismatch})%></p>
    <p style="color:rgb(190, 36, 36)"><%= passwordMismatch %></p>
    <p><a href="/static/users.html">A simple todo demo</a></p>
    <p><a href="/users">A simple todo demo</a></p>
  </body>
</html>